button {
  border: none;
  margin-left: 2px;
  margin-right: 2px;
  line-height: 1.3;
  background-color: rgba(0,0,0,0);
  color: white;
}
button:hover{
  color:rgba(160, 129, 129, 0.99);
}

input {
  border: none;
  margin: 0 2px;
  background: rgba(173, 216, 230, 0.273);
  color: white;
  text-align: center;
}

body {
  background: #161618;
  line-height: 1.3;
  color: #f2f5f4;
  font-size: 14px;
  padding: 0;
  margin: 0;
  min-height: 100%;
  overflow-anchor: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

@media only screen and (max-width: 600px) {
  #root {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    position: relative;
  }
}
@media only screen and (min-width: 601px) {
  #root {
    padding-left: 15vw;
    padding-right: 15vw;
    margin: 0 auto;
    position: relative;
  }
}

@media only screen and (min-width: 900px) {
  #root {
    padding-left: 15vw;
    padding-right: 15vw;
    margin: 0 auto;
    position: relative;
  }
}

