.header {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-content: space-between;
    flex-flow: column wrap;
}

.height30 {
    height: 30px;
}

.header-block {
    text-align: center; 
    margin: auto 0; /* Important */ 
}

.left-flex {
    align-self: flex-end;
}

.modal-backdrop {
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    position: absolute;
    z-index: 10;
    background: rgba(25, 25, 25, 0.501);
    padding: 50px;
}
@media only screen and (max-width: 600px) {
.modal-container {
    max-width: 600px;
    min-width: 200px;
    width: 60vw;
    margin: 40px 10px;
    border-radius: 10px;
    background: #2f2f31;
    color: white;
    padding: 20px;
}
}
@media only screen and (min-width: 601px) {
    .modal-container {
        max-width: 600px;
        min-width: 300px;
        width: 40vw;
        margin: 40px auto;
        border-radius: 10px;
        background: #2f2f31;
        color: white;
        padding: 20px;
    }
    }


.modal-flex-item-label {
    flex: 50% 0 0;
    margin: auto 0;
    padding-left: 5px;
}

.modal-flex-item {
    flex: 75% 0 0;
    padding: 5px;
    margin: 5px 5px;
    align-self: flex-end;
}